{% extends "main.html" %}

{% block content %}

{% if page == "login" %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="username-field">Enter Username</label>
            <input id="username-field" type="text" name="username" placeholder="Enter Username">

            <label for="password-field">Enter password</label>
            <input id="password-field" type="password" name="password" placeholder="Enter password">
            
            <input type="submit" value="Log In">
        </form>
        <p>Haven't signed up?</p>
        <a href="{% url "register" %}">Sign up</a>
    </div>
{% else %}

    <div>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Register">
        </form>
        <p>Already have an account?</p>
        <a href="{% url "register" %}">Login</a>
    </div>

{% endif %}

{% endblock content %}